html,body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.site-container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.parallaxBG{
  width: 100%;
  height: 100%;
  position: absolute;  
  background-image: url(../img/shape.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) { 
 
  
}